<div class='row'>
    <div class='col l3 s12 center-on-small-only'>
        <h5 class='left-on'><%= "#{@user.name.capitalize}" %></h5>
          <ul class="collection with-header">
            <li class="collection-header"><h5>Attending events</h5></li>
            <% if @user.attended_events.any? %>
              <% @user.attended_events.each do |event| %>
                  <li class="collection-item"><%= link_to event.name, event %></li>
              <% end %>
            <% end %>
          </ul>
        <%= link_to 'Create Event!', create_event_path, class: 'btn btn-large waves-effect waves-light', id: 'create-event' %>
    </div>
    <div class='col l6 s12'>
        <% if @user.events.any? %>
            <h4>Upcoming Events</h4>
            <% if @upcoming_events.any? %>
                <% @upcoming_events.each do |event| %>
                <div class="card is-primary">
                    <div class="card-content white-text">
                      <span class="card-title left-align"><%= link_to event.name.capitalize, event_path(event.id) %></span>
                      <p class="black-text"><%= event.description %></p>
                    </div>
                    <div class="card-action">
                      <span>hosted by <%= link_to event.creator.name.capitalize, event.creator, class: "red-text" %></span>
                      <span class="date grey-text"><%= event.formated_datetime %></span></span>
                    </div>
                </div>
                <% end %>
            <% else %>
                <section><p>No upcoming events for this user!</p></section>
            <% end %>
            <h4>Past Events</h4>
            <% if @past_events.any? %>
                <% @past_events.each do |event| %>
                <div class="card is-primary">
                    <div class="card-content white-text">
                      <span class="card-title left-align"><%= link_to event.name.capitalize, event_path(event.id) %></span>
                      <p class="black-text"><%= event.description %></p>
                    </div>
                    <div class="card-action">
                      <span>hosted by <%= link_to event.creator.name.capitalize, event.creator, class: "red-text" %></span>
                      <span class="date grey-text"><%= event.formated_datetime %></span></span>
                    </div>
                </div>
                <% end %>
            <% else %>
                <section class='left-align'><p>No past events for this user!</p></section>
            <% end %>
        <% else %>
            <section class='left-align'><p>No events for this user!</p></section>
        <% end %>
    </div>
</div>