<div class='row center-align'>
  <div class='col l3 s12'>
      <%= link_to 'Create Event!', create_event_path, class: 'btn btn-large waves-effect waves-light', id: 'create-event' %>
  </div>

  <div class='col l6 s12'>
    <h4>Upcoming Events</h4>
    <% if @events.upcoming.any? %>
        <% @events.upcoming.each do |event| %>
        <div class="card is-primary">
            <div class="card-content white-text">
              <span class="card-title left-align"><%= link_to event.name.capitalize, event_path(event.id) %></span>
              <p class="black-text"><%= event.description %></p>
            </div>
            <div class="card-action">
              <span>hosted by <%= link_to event.creator.name.capitalize, event.creator, class: "red-text" %></span>
              <span class="date grey-text"><%= event.formated_datetime %></span></span>
            </div>
        </div>
        <% end %>
    <% else %>
        <section><p>No upcoming events to show!</p></section>
    <% end %>
    
    <h4>Past Events</h4>
    <% if @events.past.any? %>
        <% @events.past.each do |event| %>
        <div class="card is-primary">
            <div class="card-content white-text">
              <span class="card-title left-align"><%= link_to event.name.capitalize, event_path(event.id) %></span>
              <p class="black-text"><%= event.description %></p>
            </div>
            <div class="card-action">
              <span>hosted by <%= link_to event.creator.name.capitalize, event.creator, class: "red-text" %></span>
              <span class="date grey-text"><%= event.formated_datetime %></span></span>
            </div>
        </div>
        <% end %>
    <% else %>
        <section><p>No past events to show!</p></section>
    <% end %>
  </div>
</div>