<div class="row">
  <div class="col s3">
    <h3><%= @event.name %></h3>
    <h5><span class="date grey-text"><%= @event.date %></span> <span class="time grey-text"><%= @event.time %></span></h5>
    <h6>Host: <%= link_to @event.creator.name, @event.creator %></h6>
    <h6><%= pluralize(@event.attendees.count, "guest") %></h6>
    <%# unless @event.registered?(current_user) %>
      <%= link_to "Register!", events_path, class: "waves-effect waves-light btn-large" %>
    <%# end %>
  </div>
  <div class='col s6'>
    <h6 class='left-align' ><%= @event.description %></h6>
  </div>
</div>