<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand"
    <div class="navbar-item ">
      <%= link_to 'Brite Event', root_url, class: "navbar-item is-size-4"%>
    </div>
  </div>
      <button class="button navbar-burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
      </div>
      <div class="navbar-end">
        <% if logged_in? %>
            <%= link_to "#{@current_user.name.capitalize}", @current_user, class: "navbar-item" %>
            <%= link_to "Browse Events", events_path, class: "navbar-item" %></li>
            <%= link_to 'Log out', logout_path, method: :delete , class: "navbar-item"%></li>
        <% else %>
            <%= link_to 'Log in', login_path , class: "navbar-item"%>
            <%= link_to 'Sign up', signup_path , class: "navbar-item"%>
        <% end %>
      </div>
    </div>
</nav>