<!DOCTYPE html>
<html>
  <head>
    <title>BriteEvent</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/icon?family=Material+Icons' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container center-align">
      <% flash.each do |msg_type, msg| %>
      <div class="row">
        <div class="col s4 offset-s4">
          <%= content_tag(:div, msg, class: "card-panel #{msg_type}") %>
        </div>
      </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
